.parent-container {
  height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  grid-template-rows: 0.05fr 1fr;
  grid-template-areas:
    "upload upload upload"
    "graph graph graph";
  gap: 1.2rem;
  background-color: rgba(19, 21, 23, 0.85);
}
.upload-container {
  grid-area: upload;
  border-radius: 4px;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.child-container {
  grid-area: graph;
  border-radius: 4px;
  padding: 1rem;
  background-color: #fff;
}
.visualization-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr;
  grid-template-areas:
    "header header header"
    "actions actions actions"
    "viz viz viz";
}
.header {
  grid-area: header;
}
.actions-container {
  grid-area: actions;
}
.graph-container {
  grid-area: viz;
  padding: 2rem;
}
.upload-btn {
  width: 20rem;
}
